extends ../layout

block head
  title= __('Вход')

block content
  

  form.authForm.js-form-signin
    h1= __('Вход')
    .field
      label.field-label(for="username-field")= __('Логин:')
      input.field-input(id="username-field" type="text" name="username" placeholder=__("логин") maxLength="20" required)
    .field
      label.field-label(for="password-field")= __('Пароль:')
      input.field-input(id="password-field" type="password" name="password" placeholder=__("пароль") required)
    .field
      button.btn.btn-submit(type="submit")= __('Войти')