header.siteHeader
  ul.rightMenu
    if currentUser
      li
        span.dropdown
          a.item.handle(href="/articles/new")= __('Создать')
          span.menu.right
            a(href="/articles/new")= __('Публикацию')
            a(href="/hubs/new")= __('Хаб')
      
      li
        span.dropdown
          a.item.handle(href="/users/" + currentUser.username)= currentUser.username
          span.menu.right
            a(href="/users/" + currentUser.username)= currentUser.username
            a(href="/users/" + currentUser.username + "/articles")= __('Мои публикации')
            a(href="/users/" + currentUser.username + "/comments")= __('Мои комментарии')
            a(href="/users/" + currentUser.username + "/hubs")= __('Мои хабы')
            a(href="/settings")= __('Настройки')
            a.js-button-logout(href="#")= __('Выход')

            
    else 
      li
        a.item(href="/auth/signin" rel="nofollow")= __('Вход')
      li
        a.item(href="/auth/signup" rel="nofollow")= __('Регистрация')

  a.logo(href="/")
    img(src="/logo_64.png" alt="Bugurt.ru" width="32" height="32")

  
  ul.leftMenu
    if currentUser
      include ./subscribedHubs
    else
      li
        a.item(href="/")= __('Публикации')              
    li 
      a.item(href="/hubs")= __('Хабы')
    //- li
    //-   a.item(href="/users")= __('Пользователи')
  