form.articleForm(action=(article._id ? "/articles/"+article._id+"?_method=PUT" : "/articles") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
  .field
    input(type="text" name="title" placeholder=__("Заголовок") value=article.title maxLength="150" required autofocus)
  .field
    input(type="url" name="url" placeholder=__("URL") value=article.url maxLength="2000" )
  
  .field  
    textarea(name="content" rows="6" placeholder=__("Текст") maxLength="10000")= article.content  
  .field
    select(name="hubs" multiple placeholder=__("Hubs"))
      each hub in hubs
        if article.hubs && article.hubs.filter(_hub => _hub._id.equals(hub._id)).length
          option(value=hub._id selected)= hub.title
        else
          option(value=hub._id)= hub.title
  .field
    button.btn.btn-submit(type="submit")= __('save')

