extends ../layout

block head
  title= article.title
block meta
  meta(content=article.content name='description')
  meta(property="og:type" content="article")
  meta(property="og:url" content="http://bugurt.ru/articles/" + article._id + "/" + article.slug)
  meta(property="og:title" content=article.title)
  meta(property="og:description" content=article.content)
  meta(property="og:article:published_time" content=article.createdAt.toISOString())
  meta(property="og:article:modified_time" content=article.updatedAt.toISOString())
  meta(property="og:article:author" content=article.creator.username)
  each hub in article.hubs
    meta(property="og:article:tag" content=hub.title)
  each image in article.images
    meta(property="og:image" content=image.url)

block content
  - var showFullContent = true
  include includes/article
  
  .commentsList#comments
    include ../comments/includes/list

  include ../comments/includes/form