.user
  if showFullContent
    h1
      a.username(href="/users/"+user.username)= user.username
      if currentUser && currentUser._id.equals(user._id)
        a.edit(href="/settings")= __('edit')
  else
    h2
      a.username(href="/users/"+user.username)= user.username
  
  .meta
    a.articlesCount(href="/users/"+user.username+"/articles")= pluralize(user.articlesCount, __('нет публикаций'), __('%d публикация'), __('%d публикации'), __('%d публикаций'))
    = " | "
    a.commentsCount(href="/users/"+user.username+"/comments")= pluralize(user.commentsCount, __('нет комментариев'), __('%d комментарий'), __('%d комментария'), __('%d комментариев'))
    = " | "
    a.commentsCount(href="/users/"+user.username+"/hubs")= pluralize(user.hubsCount, __('нет хабов'), __('%d хаб'), __('%d хаба'), __('%d хабов'))
    = " | "
    a(href="/users/"+user.username)
      time(title=moment(user.createdAt).calendar() datetime=moment(user.createdAt).format())= moment(user.createdAt).fromNow()
    